/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    width: 100%;
    height: 100%;
}

#index_next {
    margin : auto;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

nav ul li {
  list-style:none;
float: left;
  }
.navbar {
    background-color: #505160;
}

.btn-sample {
  color: #ffffff;
  background-color: #95C751;
  border-color: #6e9a32;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #ffffff;
  background-color: #7BAD38;
  border-color: #6e9a32;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #95C751;
  border-color: #6e9a32;
}

.btn-sample .badge {
  color: #95C751;
  background-color: #ffffff;
}