{% extends 'map_app/base.html' %}
{% block main_content %}


<script>
    var address = "{{primary.address}}";
    var primaryAddresses = "{{primaryAddresses}}";
    var secondaryAddresses = "{{secondaryAddresses}}";
    var mykey = config.MY_KEY;
</script>

<div class="container">
  <div class="jumbotron" style="height:100%;">

<table  class="table table-striped">
    <tr>
        <td>
            <img src="../../static/map_app/images/icons8-marker-40-blue.png">
            <!--<img src="http://maps.google.com/mapfiles/ms/icons/grn-pushpin.png">-->
        </td>
        <td>Primary sites</td>
        <td>
            <img src="../../static/map_app/images/icons8-marker-40-red.png">
            <!--<img src="http://maps.google.com/mapfiles/ms/icons/red-pushpin.png">-->
        </td>
        <td>Secondary sites</td>
    </tr>
</table>

<div id="map" style="clear:both; height:400px;"></div>
<script src="../../static/map_app/js/loadmap.js">
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe8wolM_wIKF8HTCXCCHRTre7plZKuTmo&callback=centralMap">
</script>
<br>

{%if sites %}
    <table  class="table table-striped">
        <thead>
            <th>Potential Site</th>
            <th>Combined Route Cost per Month(R)</th>
        </thead>
    {% for site,cost in sites %}
      <tr>
          <td>{{site}}</td>
          <td>{{cost}}</td>
      </tr>
    {% endfor %}
    </table>
{% endif %}
  </div>
</div>

<div class=container-fluid">
   <div class="col-sm-12 text-center">
    <form  action="{% url 'map_app:upload_page'  %}" method=post">  {% csrf_token %}
        <input id="index_next" class="btn btn-sample btn-lg" type="submit" value="Back to home" >
    </form>
   </div>
</div>

{% if user.is_authenticated%}
<div class="container">
<h4>Download files?</h4>
<ul>
    <a href ="map_app:summary"}>Summary of monthly transport costs per site </a><br>
    <a href ="map_app:detail"}>Detailed view of distances, duration and cost for each site and collection point</a><br>
    <a href ="map_app:orderOfDistance"}>Collection points and sites in distance order</a>
</ul>
<br>
</div>
{% endif %}

<div class="container">
<h4>Choose primary branch to view in detail</h4>
<form method="POST"> {% csrf_token %}
<select name="filter_sites">
    {% for entry in primary %}
        <option value="{{ entry.address }}">{{ entry.address }}</option>
    {% endfor %}<br>
    <input type="submit" class="btn btn-sample">
</select>
</form>
<br>
<!--<h4>Selected Route: {{selected_secondary.0.site}} </h4>-->
<br>
{%if selected_secondary %}
        <table  class="table table-striped" >
            <thead>
                <th>Primary Site</th>
                <th>Secondary Site</th>
                <th>Duration (min)</th>
                <th>Distance (km)</th>
                <th>Deliveries per month</th>
                <th>Transport type</th>
                <th>Route Cost(R)</th>
                <th>Route Cost Per Month(R)</th>
            </thead>
        {% for site in selected_secondary %}
            <tr>
                {% if forloop.counter0|divisibleby:num_secondary %}
                    <td rowspan="{{num_secondary}}">{{site.site}}</td>
                    <td>{{site.address}}</td>
                    <td>{{site.duration_minutes}}</td>
                    <td>{{site.distance_km}}</td>
                    <td>{{site.deliveriesPerMonth}}</td>
                    <td>{{site.type}}</td>
                    <td>{{site.SiteCost}}</td>
                    <td>{{site.SiteCostPerMonth}}</td>
                {% else %}
                    <td>{{site.address}}</td>
                    <td>{{site.duration_minutes}}</td>
                    <td>{{site.distance_km}}</td>
                    <td>{{site.deliveriesPerMonth}}</td>
                    <td>{{site.type}}</td>
                    <td>{{site.SiteCost}}</td>
                    <td>{{site.SiteCostPerMonth}}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% endif %}

</div>


{% endblock %}