/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    width: 100%;
    height: 100%;
}

#index_next {
    margin : auto;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

nav ul li {
  list-style:none;
float: left;
  }
.navbar {
    background-color: #505160;
}